header {
    background-image: url(../images/Rectangle\ 94.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
.container {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
}
.top_left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.top_menu a {
    color: white;

}
.top_menu ul {
    display: flex;
    flex-wrap: wrap;
}
.top_menu ul li {
 margin-right: 40px;
}
.logo {
    margin-right: 80px;
}
.top_right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.top_right button {
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 213px;
    height: 39px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 40px;
    text-transform: uppercase;
}
.lang a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase; 

}
.lang a:first-child {
    border-right: 1px solid #fff;
    padding-right: 5px;

}
.lang a:last-child {
    padding-left: 3px;
}
.bottom_line {
    margin-top: 400px;
}
.bot_con {
    max-width: 1366px;
    margin: 0 auto;
}
.bot_con h1 {
margin-bottom: 30px;
color: #fff;
font-size: 42px;
font-weight: 500;
}
.bot_con p {
    margin-bottom: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
.bot_con a {
    font-weight: 500;
    font-size: 16px;
    border-bottom: 5px solid #EEC48B;
    color: #EEC48B;
    text-transform: uppercase;
    padding-bottom: 7px;
}
.icon {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;

}
.icon:first-child {
    margin-bottom: 4px;
}
.header_ic {
    position: absolute;
    bottom: 80px;
    right: 0px;
}
.krug {
   position: absolute;
    width: 30px;
    height: 30px;
    background-color: #EEC48B;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 170px;
    right: 40px;
    /* margin-right: 46px; */

}   

/* СЕКЦИЯ 2 */
.sec1 {
    background-color: #202020;
    padding-top: 100px;
    padding-bottom: 100px;
}
.sec1_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1366px;
    margin: 0 auto;
}
.sec1 .img_wrap {
    width: 57%;
}
.sec1 .text_wrap {
    width: 34.6%;
}   
.sec1 .text_wrap h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    color: #fff;
    padding-bottom: 30px;
}
.sec1 .text_wrap p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color:#fff; 
    opacity: 0,7;
    padding-bottom: 40px;
}
.sec1 .text_wrap a {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #EEC48B;
    border-bottom: 1px solid #EEC48B;
    padding-bottom: 10px;
}
.link_parent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sandwich {
    display: none;
}


/* СЕКЦИЯ 3 */
.sec2{
    background-image: url(../images/Rectangle\ 98.png);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;

}
.sec2_cont{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between;
    align-items: center; */
    max-width: 1366px;
    margin: 0 auto;
   
}
.sec2_text {
    width: 314px;
}
.sec2_text h2 {
    font-size: 36px;
    color: #ffffff;
    line-height: 100%;
    margin-top: 90px;
    width: 502px;
}
.sec2_text p {
    font-size: 16px;
    color: #ffffff;
    line-height: 150%;
    margin-top: 30px;
    width: 396px;
    padding-bottom: 40px;
}
.sec2_link a {
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid #EEC48B;
    color: #EEC48B;
    text-transform: uppercase;
    padding-bottom: 7px;
    margin-top: 40px;
}


/* СЕКЦИЯ 3 */

.middle_line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #202020;

}
.sec3_block1 {
    width: 436px;
    height: 436px;
    margin-right: 30px;
    margin-top: 100px;
    margin-bottom: 192px;
}
.sec3_block2 {
    width: 436px;
    height: 436px;
    margin-right: 30px;
    margin-top: 100px;
    margin-bottom: 192px;
}
.sec3_block3 {
    width: 436px;
    height: 436px;
    margin-top: 100px;
    margin-bottom: 192px;
}
.sec3_h2 {
    color: white;
    font-weight: 300;
    font-size: 16px;
    line-height: 19.5px;
    margin-top: 200px;
    /* margin-top: 40px; */
}

/* СЕКЦИЯ 4 */
.sec4{
   width: 100%;
   height: 476px;
   margin: 0 auto;
   position: relative;
    
}
.sec4_mid {
    background-image: url(../images/Rectangle\ 102.png);
    width: 100%;
    height: 476px;
    background-size: cover;
    display: flex;
    flex-direction: column;

}
.geo1{
    background-image: url(../images/Vector\ \(3\).png);
    width: 24px;
    height: 32px;
    align-items: center;
    margin-top: 91px;
    margin-left: 600px;
}
.geo2{
    background-image: url(../images/Vector\ \(3\).png);
    width: 24px;
    height: 32px;
    margin-top: 57px;
    margin-left: 928px;

}
.geo3{
    background-image: url(../images/Vector\ \(3\).png);
    width: 24px;
    height: 32px;
    margin-top: 95px;
    margin-left: 353px;
}
.geo4{
    background-image: url(../images/Vector\ \(3\).png);
    width: 24px;
    height: 32px;
    margin-top: 21px;
    margin-left: 726px;
}


/* СЕКЦИЯ 5 */
.sec5 {
    width: 100%;
    height: 506px;
background-color: #333333;
}
.sec5_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}
.sec5_text h2 {
    font-size: 36px;
    line-height: 44px;
    color: #fff;
    margin-top: 100px;
}
.sec5_text p {
    font-size: 16px;
    line-height: 24px;
    opacity: 70%;
    color: #fff;
    margin-top: 30px;
    width: 502px;
    height: 168px;
}
.sec5_link a {
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid #EEC48B;
    color: #EEC48B;
    text-transform: uppercase;
    padding-bottom: 7px;
   
}
 
/* СЕКЦИЯ 6 */
.sec6 {
        background-color: #788282;
        width: 100%;
        height: 506px;

    }
.sec6_1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
.sec6_r {

}
.sec6_l {

}
.sec6_text h2 {
    width: 248px;
    height: 44px;
    margin-top: 100px;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
}
.sec6_text p {
    width: 608px;
    height: 150px;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}
